<section class="container-md">
    <div *ngIf="user" class="profil">
        <div class="photo">
            <img [src]="user.photo" alt="user photo">
        </div>

        <div class="profil-datas" [ngStyle]="{'background-color': '#0006'}">
            <h2 class="h3">{{user.name}}</h2>
            <p>{{user.email}}</p>
            <button class="btn btn-sm btn-secondary d-inline-block mr-2" (click)="newPassword(user.email)">Új jelszó igénylés</button>
            <button class="btn btn-sm btn-secondary d-inline-block mr-2" (click)="editProfil()">Adatok szerkesztése</button>
            <h4>Személyes adatok:</h4>
            <p>Kor: {{user.age}} év</p>
            <p>Nem: {{user.gender==="male" ? "férfi" : "nő"}}</p>
            <p>Település: {{user.city}}</p>
            <small class="d-block">Jogosultság: {{user.role}}</small>
            <small class="d-block">Regisztráció dátuma: {{user.date}}</small>
            <div class="category my-2">
                <p>Témák, amik érdekelnek:</p>
                    <span *ngFor="let theme of user.category">{{theme.displayName}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="!user">Valami hiba történt, jelentkezzen be újra!</div>
</section>

<div class="container-md">
    <button *ngIf="user && !showMyEvents" class="btn toggle-btn" (click)="showEvents()">
        Események, amik érdekelnek
    </button>
    <button *ngIf="user && showMyEvents" class="btn toggle-btn" (click)="showEvents()">
        Események elrejtése
    </button>

    <app-my-events *ngIf="showMyEvents"></app-my-events>
</div>

<div class="container-md">
    <button *ngIf="user && !showMyFriends" class="btn toggle-btn" (click)="showFriends()">
        Ismerősök / jelölések elrejtése
    </button>
    <button *ngIf="user && showMyFriends" class="btn toggle-btn" (click)="showFriends()">
        Ismerősök mutatása
    </button>

    <app-my-community *ngIf="!showMyFriends" [me]=user></app-my-community>
</div>
