.noughts {
  &-board {
    font-size: 0;
    padding: 0;
    margin: 0 auto;
    height: 584px;
    width: 584px;
    border: 4px solid black;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.square {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 64px;
  height: 64px;
  border: 2px solid black;

  &-black {
    background-color: rgb(96, 96, 96);
  }

  &-white {
    background-color: rgb(192, 192, 192);
  }
}

.mark {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
  img {
    width: 60px;
    height: 60px;
  }
}

.players {
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin: 1rem auto;

  width: 488px;
  border: 4px solid black;
}

.player {
  box-sizing: border-box;
  border: 4px transparent solid;
  &-image-wrapper {
    position: relative;
  }
  &-avatar-image {
    height: 100px;
    border: 1px black solid;
  }

  .black-piece,
  .white-piece {
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
  }

  &-active {
    border: 4px red dotted;
  }

  &-active &-avatar-image {
    border: 1px red solid;
  }
}

.game {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &-avatar-image {
    width: 100px;
    height: 100px;
  }
}

.message {
  text-align: center;
  &-container {
    margin: 0 auto;
  }
}
