<div class="container">

   <div class="container-md py-5">
      <div class="row">
      <div class="form-group col-md-8 mb-3 d-flex mx-auto text-light" [formGroup]="newGameForm">
         <label class="form-label me-3 mt-1" for="category"> Új játék indítása</label>
         <select class="form-select p-1" id="game" formControlName="game" aria-label="Floating label select" placeholder="Játékok">
            <option value="">Játékok</option>
            <option *ngFor="let game of this.games" [value]="game.game" (click)="clicked()">
               {{game.name}}
            </option>
         </select>
         <select class="form-select p-1" id="friend" formControlName="friend" aria-label="Floating label select" placeholder="Ismerősök" >
            <option value="">Ismerősök</option>
            <option *ngFor="let friend of this.friends" [value]="friend.id" (click)="clicked()">
               {{friend.name}}
            </option>
         </select>

      <button class="btn btn-primary ms-2 filter-button" (click)="startNewGame()" type="submit" [disabled]="newGameForm.invalid" >Indítás</button>
      </div>
   </div>

   <div class="ongoing-matches" *ngIf="gamesArray.length !== 0">
      <div class="card__container row mx-auto my-5 text-light">
         <h3 class="text-center col-12 mb-3">Futó Játékaink</h3>
         <div class="card__frame col-md-6 col-lg-4 m-2  " *ngFor="let match of gamesArray">

            <div class="card__content" *ngIf="match.game.game === 'nought'">
               <div class="card__front" [ngStyle]="{'background': 'url('+ match.game.imageUrl +')  center center no-repeat', 'background-size': 'cover', 'background-color': '#555555'}" >
                  <h4 class="card__front-title">{{match.game.name}}</h4>
                  <h4 class="card__front-title">x - {{match.players.x.name}}</h4>
                  <h4 class="card__front-title">o - {{match.players.o.name}}</h4>
                  <h4 class="card__front-title">{{match?.game?.created.toDate() | date:'medium' }}</h4>
               </div>
               <div class="card__back">
                  <div class="img-frame">
                     <img [src]="match.players.o.photo" class="card-img-top " alt="...">
                  </div>
                  <h4 class="text-center">x - {{match.players.x.name}}</h4>
                  <div class="img-frame">
                     <img [src]="match.players.x.photo" class="card-img-top " alt="...">
                  </div>
                  <h4 class="text-center">o - {{match.players.o.name}}</h4>
                  <div class="card__back-content">
                     <h5 class="card__back-title">{{match.game.name}}</h5>
                     <a [routerLink]="'/' + match.game.game + '/' + match.id" class="btn btn-primary mt-auto">Folytatás</a>
                  </div>
               </div>
            </div>
            <div class="card__content" *ngIf="match.game.game === 'chess'">
            <div class="card__front" [ngStyle]="{'background': 'url('+ match.game.imageUrl +')  center center no-repeat', 'background-size': 'cover', 'background-color': '#555555'}" >
               <h4 class="card__front-title">{{match.game.name}}</h4>
               <h4 class="card__front-title">Fehér - {{match.players.white.name}}</h4>
               <h4 class="card__front-title">Fekete - {{match.players.black.name}}</h4>
               <h4 class="card__front-title">{{match?.game?.created.toDate() | date:'medium' }}</h4>
            </div>
            <div class="card__back">
               <div class="img-frame">
                  <img [src]="match.players.white.photo" class="card-img-top " alt="...">
               </div>
               <h4 class="text-center">x - {{match.players.white.name}}</h4>
               <div class="img-frame">
                  <img [src]="match.players.black.photo" class="card-img-top " alt="...">
               </div>
               <h4 class="text-center">o - {{match.players.black.name}}</h4>
               <div class="card__back-content">
                  <h5 class="card__back-title">{{match.game.name}}</h5>
                  <a [routerLink]="'/' + match.game.game + '/' + match.id" class="btn btn-primary mt-auto">Folytatás</a>
               </div>
            </div>
            </div>
   </div>
   <div class="open-matches"></div>
</div>