<div class="my-community">
  <section class="container-md mt-5" *ngIf="friendRequestsToMe && friendRequestsToMe.length">
    <p class="text-light fw-bold">Ismerősnek jelölt engem:</p>
    <div class="row mx-auto">
      <div class="card col-md-6 col-lg-4 m-2 shadow " style="width: 18rem;" *ngFor="let user of friendRequestsToMe">
        <div class="img-holder">
          <img [src]="user.photo" class="card-img-top" alt="user profil photo">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{user.name}}</h5>
          <small class="card-text">{{user.age}}</small>
          <small class="card-text">{{user.city}}</small>
          <p class="card-text">
            <small *ngFor="let cat of user.category" class="theme">{{cat.displayName}}</small>
          </p>
          <div class="btn-div">
            <button class="btn" (click)="confirmRequest(user)">Elfogad</button>
            <button class="btn" (click)="rejectRequest(user)">Elutasít</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="container-md mt-5" *ngIf="friendRequests && friendRequests.length">
    <p class="text-light fw-bold">Ismerősnek jelöltem:</p>
    <div class="row mx-auto">
      <div class="card col-md-6 col-lg-4 m-2 shadow " style="width: 18rem;" *ngFor="let user of friendRequests">
        <div class="img-holder">
          <img [src]="user.photo" class="card-img-top" alt="user profil photo">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{user.name}}</h5>
          <small class="card-text">{{user.age}}</small>
          <small class="card-text">{{user.city}}</small>
          <p class="card-text">
            <small *ngFor="let cat of user.category" class="theme">{{cat.displayName}}</small>
          </p>
          <button class="btn mt-auto" (click)="resetRequest(user)">Visszavonás</button>
        </div>
      </div>
    </div>
  </section>

  <section class="container-md mt-5" *ngIf="confirmedFriends && confirmedFriends.length">
    <p class="text-light fw-bold">Ismerőseim:</p>
    <div class="row mx-auto">
      <div class="card col-md-6 col-lg-4 m-2 shadow " style="width: 18rem;" *ngFor="let user of confirmedFriends">
        <div class="img-holder">
          <img [src]="user.photo" class="card-img-top" alt="user profil photo">
        </div>
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{user.name}}</h5>
          <small class="card-text">{{user.age}}</small>
          <small class="card-text">{{user.city}}</small>
          <p class="card-text">
            <small *ngFor="let cat of user.category" class="theme">{{cat.displayName}}</small>
          </p>
          <button class="btn" (click)="deleteFriend(user)">Ismeretség törlése</button>
        </div>
      </div>
    </div>
  </section>

</div>
