@use '../../../assets/mixins' as m;

.my-community {
    section {
        .row {
            display: flex;
            justify-content: center;
        }
    }
}

.card {
    background: rgba(250,250,250,0.8);
}

.img-holder {
    @include m.setCardImgSize();
    @include m.setImgBorderAndHover();
}
.theme {
    @include m.setTheme();
}
.btn {
    @include m.setMyButton();
}

.btn-div {
    display: flex !important;
    justify-content: space-between !important;
    
    .btn {
        display: block !important;
        width: 48% !important;
    }
}

