<section>
    <div class="container-sm mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Üdvözöljük oldalunkon</h1>
                <p>A Nemegyedül egy olyan honlap, ahol a regisztrált felhasználóknak lehetősége nyílik a hobbijukhoz
                    kapcsolódó eseményeket keresni. Megismerkedhetnek hasonló érdeklődési körrel rendelkező
                    felhasználóinkkal, sőt amennyiben nyitottak rá, még saját programokat is létrehozhatnak.
                </p>
                <p>Az oldalunk célja, hogy közös programok, játékok segítségével támogassa a felhasználókat, hogy
                    társra találjanak a hobbijuk gyakorlásában. Amennyiben érdeklődik eseményeink iránt kérjük
                    regisztráljon!
                </p>
                <p>
                    Az oldal használata regisztrációhoz kötött
                </p>
                <div>
                    <a routerLink="login" class="btn btn-primary" *ngIf="isLoggedIn == 0">Bejelentkezés</a>

                </div>
            </div>
        </div>
    </div>
</section>