
.container-md {
  background-color: #0006;
}

.card__container,
.row {
  display: flex;
  justify-content: center;
}

label {
  white-space: nowrap;
  align-items: center;
}



.img-frame {
  margin: 0 auto;
 height: 200px;
  width: 230px;
 overflow: hidden;
  background-size: 90%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-frame :is(img) {

  width: 100%;
  height: auto;

}
.card__frame {
  //position: relative;
  width: 18rem;
  height: 25rem;
  outline: none;
  border: none;
}

.card__content {

  padding: .5rem;
  position: relative;
  //display: flex;
  //flex-direction: column;
  //margin-top: auto;
  width: 100%;
  height: 100%;
  transition: transform 2s;
  transform-style:preserve-3d;
}

.card__frame:hover .card__content {
  transform: rotateY(.5turn);
}

.card__front,
.card__back {
  border-radius: .5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background-color: pink;
  backface-visibility:initial;
  transform-style:preserve-3d;
}
.card__front {
  //background-size: cover;
  padding: 1.5rem;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-blend-mode:multiply
}

.card__front::before {
  content: '';
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  border: 3px solid whitesmoke;
  border-radius: .4rem;
  transform: translateZ(2rem);
}

.card__front-title {
  transform:translateZ(5rem);
  text-shadow: 0 0 15 #222;
  text-align: center;
  user-select: none;
  font-weight: 800;
  color: whitesmoke;
  order: 2;
  text-transform: uppercase;
  max-width: 15rem;
  font-size: medium;
}

.card__front-subtitle {
  transform: translateZ(2rem);
  color: whitesmoke;
  order: 1;

}

.card__back {
  transform: rotateY(.5turn);
  padding: .5rem;
  background-color: white;
  //user-select: none;
}

.card__back-title {
  transform: translateZ(5rem);
}

.card__back--text {
  transform: translateZ(4rem);

}
.card__back a {
  align-self:baseline;
  z-index: 10;
  transform: translateZ(2rem);
}

