@use '../../../assets/colors' as c;

.navbar-brand {
    color: c.$c-orange;
}

.nav-item .nav-link {
    cursor: pointer;

    &:hover {
        color: c.$c-orange;
    }
}


.badge {
    position: relative;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    background: c.$c-orange;
    
}