@use '../../../assets/colors' as c;
@use '../../../assets/mixins' as m;

.container-fluid {
  @include m.setSection();

  section {
    padding: 2rem;
    background-color: #0006;
    color: whitesmoke;

    .form-check-input:checked {
      background-color: c.$c-orange !important;
      border-color: c.$c-orange !important;
    }
  }

  button {
    margin: 1rem 1rem 0 0;

    &.btn-primary {
      @include m.setMyButton();
    }
  }

  small {
    color: rgb(100, 6, 6);
    display: block;
    font-size: large;

    #resetBtn {
      font-weight: 600;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}
